body {
    font-family: 'Lemon', cursive;
    background-color: #161616;
    color: white;
}

#signature {
    color: lightskyblue;
}

#signature a {
    color: inherit;
}

#headingdiv {
    font-size: 30px;
    text-align: center;
}

#inputdiv {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contentdiv {
    text-align: center;
    margin-top: 30px;
}

#contentdiv h3 {
    font-size: 3rem;
}

#temperature {
    display: inline;
}

#unitchange {
    text-decoration: underline;
    color: lightskyblue;
    display: none;
}

#headspace {
   height: 30px;
}

#locationsearch {
    background-color: #161616;
    color: white;
    border: 2px solid #555555;
    height: 60px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lemon', cursive;

}

#locationbutton {
    font-family: 'Lemon', cursive;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #161616;
    color: white;
    border: 2px solid #555555;
}
  
#locationbutton:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    #headingdiv {
        font-size: 5vw;
    }

    #contentdiv h3 {
        font-size: 1rem;
    }

    #contentdiv canvas {
        width: 35%;
        height: 35%;
    }
}