* {
    font-family: 'Lemon', cursive;
    background-color: #161616;
    color: white;
    text-align: center;
}

div {
    font-size: 30px;
}

#signature {
    color: lightskyblue;
}

#signature a {
    color: inherit;
}

.hourly-results {
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    text-align: right;
    overflow: scroll;
    overflow-y: hidden;
}

.hour-element {
    margin: 0 20px;
}

.week-element {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: #ffffff, 1px;
}

#temperature {
    display: inline;
}

#unitchange {
    text-decoration: underline;
    color: lightskyblue;
    display: none;
}

#locationsearch {
    background-color: #161616;
    color: white;
    border: 2px solid #555555;
    height: 60px;
    font-size: 25px;

}

#locationbutton {
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #161616;
    color: white;
    border: 2px solid #555555;
}
  
#locationbutton:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {

    canvas {
        width: 128px;
        height: 128px;
    }

    div {
        font-size: 20px;
    }
}